<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="feed.nuget.rota" value="https://pkgs.dev.azure.com/nandos-uki/_packaging/feed.nuget.rota/nuget/v3/index.json" />    
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>